*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Start Main Nav Styling*/
.nav-section .navbar img{
    width: 256px;
    height: 128px;
    text-align: center;
}


/*End Main Nav Styling*/

/*Start Intro  Styling*/



/*End Intro Styling*/